# ── Copy this to .env and fill in your values ──────────────────
# Local MySQL
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD="Shreya@OP1"
DB_NAME=medicine_db

# Flask
SECRET_KEY=Shreya_is_the_boss
FLASK_DEBUG=true

# Production (set to false on Render/Railway)
# FLASK_DEBUG=false
# PORT=5000
